<div class="col-md-8 left_cont" >

<div class="article_col" style="">
<div class="article_content" style="font-size:22px; line-height: 29px;">

<h1 style="font-weight: 100;" class="">About Algomuse</h2>

<hr>
<br>

<p style="font-weight: 100 !important; display: inline; margin-right : 10px; font-family:   'Helvetica';
	 -webkit-font-smoothing: antialiased;
	 font-weight: 100; width:500px;">Algomuse is a technology tutorials blog written by <a href="/rohan">Rohan Raja</a>. This blog contains tutorials and articles mainly focusing on Programming and Web development.

</p>
<br>
<br>
<p>
The goal of this blog is to develop and polish technical and programatical skills in the viewers as well as to inspire them to make full utility of the information technology. The tutorials are designed in a step by step manner with clear understandability for any user, begginer or expert. In short, this blog would add fun to your coding.
</p>


</div>

</div>
</div>


<div class="col-md-4 recom">
	<!-- 	<div class="borderdiv"></div> -->
		
	<div class="recwrapper">

    <%= render partial: "cards/emailcard" %>

       <style type="text/css">
   .emailcard
   {
   	margin-top: 0px !important;
   }
   </style>


		</div>
		</div>