
<div class="row">

	<div class="col-md-8 left_cont" >

   <%= render partial: "cards/article_list", locals: {posts: @posts} %>


	</div>

	<div class="col-md-4 recom">
		
	<div class="recwrapper">

    <% Category.all.each do |p| %>

      <%= render partial: "cards/langcard", locals: {cat: p} %>

    <% end %>

    <%= render partial: "cards/emailcard" %>
    		

		</div>




	</div>


</div>

