
<div class="row">

	<div class="col-md-8 left_cont" >

		<div class="article_col">
		

              <center>

              <h2 class="article_title">
                <%= @post.title %>
              </h2>
              </center>
              <br>
              <div class="article_header">
               
              	<img src="/assets/lor.jpg" class="headimg">

              	<b>Web -</b>

              	<p class="article_overview"> In this article you will learn how to install Ruby on Rails on a machine running Mac OSX 10.7 - 10.9. We first install homebrew followed by ruby, gemsets and finally rails.</p>

             
       	 		</div>
       	</div>
		<div class="article_col spaced"> 
		

              <center>

              <h2 class="article_title">
                How to update LAMP on MacbookPro OSX
              </h2>
              </center>
              <br>
              <div class="article_header">
               
              	<img src="/assets/ror.jpg" class="headimg">

              	<b>Coding -</b>

              	<p class="article_overview"> Get to know about Apple's latest version of OSX, named Mevirek. Install a basic LAMP server using the popular open source software, Homebrew.</p>

             
       	 		</div>
       	</div>
		






	</div>

	<div class="col-md-4 recom">
	<!-- 	<div class="borderdiv"></div> -->
		
	<div class="recwrapper">
	
                <div class="rec_cards">
                	<img src="/assets/ror.jpg" class="recimg">

                	<div class="rectext">

                		<p><b>Web -</b> How to install Node.js on Windows with VMWare installed</p>

                	</div>

                </div>
                  <div class="rec_cards">
                	<img src="/assets/lor.jpg" class="recimg">

                	<div class="rectext">

                		<p><b>Electronics -</b> How to install apache server on Raspberry Pi</p>

                	</div>

                </div>
                <div class="rec_cards"></div>
                <div class="rec_cards"></div>
                <div class="rec_cards"></div>


		</div>




	</div>


</div>

