
<div class="row">

	<div class="col-md-8 article_col">



              <center>

              <h2 class="article_title">
                <%= @post.title %>
              </h2>
              </center>
              <br>

		


               <%= raw( @post.body.gsub(/^\s*[^<].*/, '<p>\&</p>') ) %>





	</div>

	<div class="col-md-4 recom">

                <div class="rec_cards article_col"></div>
                <div class="rec_cards article_col"></div>
                <div class="rec_cards article_col"></div>
                <div class="rec_cards article_col"></div>

	</div>


</div>

