
<div class="row">

	<div class="col-md-8 left_cont" >

		<div class="article_col">

	              <center>

	              <h2 class="article_title">
	                <%= @post.title %>
	              </h2>
	              </center>
	              <br>
	              <div class="article_header">
	               
	              	<img src="/assets/lor.jpg" class="headimg">

	              	<b>Web -</b>

	              	<p class="article_overview"> In this article you will learn how to install Ruby on Rails on a machine running Mac OSX 10.7 - 10.9. We first install homebrew followed by ruby, gemsets and finally rails.</p>

	             
	        </div>
			

	        <div class="article_content">
	               <%= raw( @post.body.gsub(/^\s*[^<].*/, '<p>\&</p>') ) %>

	        </div>


        </div>
        <div class="arrow-up"></div>
         <div class="article_arthor">

         	<img src="/assets/profile.jpg">

         	<h3>Rohan Raja</h3>
         	<p>I am a technology enthusiast, mainly devoted to web developement. I also play guitar, synthesizer and love hobby electronics. </p>
	        	
	        </div>






	         <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'tutsville'; // required: replace example with your forum shortname
        var disqus_developer = 1;
     //   var disqus_identifier = '<%= @post.id %>';
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>

    





	</div>

	<div class="col-md-4 recom">
	<!-- 	<div class="borderdiv"></div> -->
		
	<div class="recwrapper">
	
                <div class="rec_cards">
                	<img src="/assets/ror.jpg" class="recimg">

                	<div class="rectext">

                		<p><b>Web -</b> How to install Node.js on Windows with VMWare installed</p>

                	</div>

                </div>
                  <div class="rec_cards">
                	<img src="/assets/lor.jpg" class="recimg">

                	<div class="rectext">

                		<p><b>Electronics -</b> How to install apache server on Raspberry Pi</p>

                	</div>

                </div>
                <!-- <div class="rec_cards"></div> -->


		</div>




	</div>


</div>

