

<div class="col-md-8 left_cont" >

<div class="article_col">
<div class="article_content" style="font-size:22px; line-height: 29px;">

<h2 style="font-weight: 200;" class="">Request Tutorial</h2>

<hr>
<br>

<%= render partial: 'request_texts/form' %>

</div>

</div>
</div>


<div class="col-md-4 recom " style="height:600px !important;">
	<!-- 	<div class="borderdiv"></div> -->
		
	<div class="recwrapper">

       <%= render partial: "cards/emailcard" %>

       <style type="text/css">
   .emailcard
   {
   	margin-top: 0px !important;
   }
   </style>

		</div>
		</div>