<div class="col-md-8 left_cont" >

<div class="article_col">
<div class="article_content" style="font-size:22px; line-height: 29px; ">

<h1 style="font-weight: 100;" class="">Rohan Raja</h2>

<hr>
<br>

<style type="text/css">
p{
	font-weight: 100 !important;
	font-family:   'Helvetica';
	 -webkit-font-smoothing: antialiased;
	 font-weight: 100;
   font-size:16px;
}
</style>

<img src="/assets/profile.jpg" style="width: 200px; display: inline; margin-bottom: 20px; ">

	<div style=" display: inline;margin-left: 25px;position : absolute; margin-right : 10px;  width:500px;" id="conttt">

	<p >

	Rohan graduated from <a href="http://iitkgp.ac.in">Indian Institute of Technology, Kharagpur</a>, India in 2016 with masters in Mathematics and Computing.
		He is the author and founder of <a href="http://algomuse.com">Algomuse</a>, a programming and technology tutorials blog.
	</p>


	</div>

		<p >He is an active Web Developer, with Ruby on Rails as the framework of choice. He also likes to hack into electronics , embedded systems, microcontrollers and works on small scale hobby projects. He encourages the use of <a href="http://www.raspberrypi.org/">Raspberry Pi</a> as a tool for learning and teaching programming and computer engineering.

	</p>



</div>

</div>



<div class="topic_head" style="margin-top:20px;">
	Contact him through : 
<a href="http://facebook.com/rohanraja9" target="_blank"><img src="/assets/fb.png" style="height:67px;"></a>
<a href="http://www.linkedin.com/in/rohanraja9" target="_blank"><img src="/assets/linkedin.png" style="height:58px;"></a>
<a href="mailto:rohanraja9@gmail.com" target="_blank"><img src="/assets/email.png" style="height:67px;"></a>
<a href="/cv.pdf" target="_blank"><img src="/assets/cv_logo.png" style="height:67px;"></a>
</div>


</div>







<div class="col-md-4 recom " style="height:600px !important;">
	<!-- 	<div class="borderdiv"></div> -->
		
	<div class="recwrapper">

   <%= render partial: "cards/emailcard" %>

   <style type="text/css">
   .emailcard
   {
   	margin-top: 0px !important;
   }
   </style>


		</div>
		</div>
