<div class="col-md-8 left_cont" >

<div class="article_col">
<div class="article_content" style="font-size:22px; line-height: 29px; ">

<h1 style="font-weight: 100;" class="">Rohan Raja</h2>

<hr>
<br>


<img src="/assets/profile.jpg" style="width: 200px; display: inline; margin-bottom: 20px; ">

	<div style="font-weight: 100 !important; display: inline;margin-left: 25px;position : absolute; margin-right : 10px; font-family:   'Helvetica';
	 -webkit-font-smoothing: antialiased;
	 font-weight: 100; width:500px;" id="conttt">

	<p >

	Rohan is a student at <a href="http://iitkgp.ac.in">Indian Institute of Technology, Kharagpur</a>, India. He is currently in third year of his five year undergraduate course of Mathematics and Computing.
	<br>
		He is the arthor and founder of Algomuse, a programming and technology tutorials blog.

	

	</p>


	

	</div>

		<p >


	</p>



</div>

</div>
</div>



<div class="col-md-4 recom " style="height:600px !important;">
	<!-- 	<div class="borderdiv"></div> -->
		
	<div class="recwrapper">

   <%= render partial: "cards/emailcard" %>

   <style type="text/css">
   .emailcard
   {
   	margin-top: 0px !important;
   }
   </style>


		</div>
		</div>