

<div class="row topic_mainrow">

	<div class="col-md-8 left_cont python_css topic_cont" >

    <h2 class="topic_head"><%= @cat.name %></h2>


   <%= render partial: "cards/article_list", locals: {posts: @posts} %>





	</div>

	<div class="col-md-4 recom">
		
	<div class="recwrapper">

<% Category.all.each do |p| %>

      <%= render({partial: "cards/langcard", locals: {cat: p}}) if p.name != @cat.name %>

    <% end %>


		</div>




	</div>


</div>

