

<div class="row topic_mainrow">

	<div class="col-md-8 left_cont python_css topic_cont" >

    <h2 class="topic_head">Python</h2>


   <%= render partial: "cards/article_list", locals: {post: @post} %>





	</div>

	<div class="col-md-4 recom">
		
	<div class="recwrapper">

               
     <%= render partial: "cards/langcard", locals: {img_file: "rorlogo.png", lang_title: "Ruby on Rails"} %>

     <%= render partial: "cards/langcard", locals: {img_file: "php.jpg", lang_title: "PHP"} %>
	


		</div>




	</div>


</div>

