<center>

<h2 class="article_title">
<%= post.title %>
</h2>
</center>
<br>
<div class="article_header">

	<img src="/assets/lor.jpg" class="headimg">

	<b>Web - <span>Ruby on Rails</span> </b>

	<p class="article_overview"> In this article you will learn how to install Ruby on Rails on a machine running Mac OSX 10.7 - 10.9. We first install homebrew followed by ruby, gemsets and finally rails.</p>


</div>