<div class="article_col ">


           <%= render partial: "cards/article_header", locals: {post: post} %>
    
</div>

<div class="article_col spaced"> 


    <center>

    <h2 class="article_title">
      How to update LAMP on Macbook Pro OSX
    </h2>
    </center>
    <br>
    <div class="article_header">
     
    	<img src="/assets/ror.jpg" class="headimg">

    	<b>Coding - <span>PHP</span> </b>

    	<p class="article_overview"> Get to know about Apple's latest version of OSX, named Mevirek. Install a basic LAMP server using the popular open source software, Homebrew.</p>

   
 		</div>
</div>