


<style type="text/css">


</style>


<div class="emailcard fbcard">
        
        <div class="fb-like-box" data-href="http://www.facebook.com/algomuse" data-colorscheme="light" data-show-faces="true" data-header="true" data-width="290" data-height="210" data-stream="false" data-show-border="true"></div>



        <form accept-charset="UTF-8" action="/subs_emails" class="form-horizontal" id="new_subs_email" method="post" data-remote="true">

<div class="emailcard" style="margin-bottom:0px; margin-top: 0px;">
       <input type="email" name="subs_email[email]" class=" form-control emailbox" placeholder="Subscribe via Email" onkeyup=""> 
       <a href="#email_subscribed" class="btn btn-primary subsbut pull-right " onclick="$(this).closest('form').submit()"><span class="glyphicon glyphicon-envelope emailicon"></span></a>
       
            </div>


        </form>



            </div>




<!-- 

     <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="1PbmeVD4vVMdXjqKlQQ/k91CnDgkxUzvZfRw7+EF3ew="></div>

  <div class="form-group">
    <label class="col-lg-2 control-label" for="subs_email_email">Email</label>
    <div class="col-lg-10">
      <input class="form-control" id="subs_email_email" name="subs_email[email]" type="text">
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <input class="btn btn-primary" name="commit" type="submit" value="Create Subs email">
    </div>
  </div>
</form> -->