
<div class="emailcard fbcard">
    	  <div class="fb-like" data-href="https://www.facebook.com/algomuse/" data-width="312" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
            </div>

<style type="text/css">

.fbcard
{
  height: auto !important;
  text-align: center;
  background-color: white ;
}

.fb-like
{
  margin-top: 10px;
  margin-bottom: 10px;
}


</style>


<!-- 

     <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="1PbmeVD4vVMdXjqKlQQ/k91CnDgkxUzvZfRw7+EF3ew="></div>

  <div class="form-group">
    <label class="col-lg-2 control-label" for="subs_email_email">Email</label>
    <div class="col-lg-10">
      <input class="form-control" id="subs_email_email" name="subs_email[email]" type="text">
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <input class="btn btn-primary" name="commit" type="submit" value="Create Subs email">
    </div>
  </div>
</form> -->