<div class="lang_card">

<a href="/<%= cat.url_name %>" style="color: rgb(82, 82, 82) !important;">

  <img src="/assets/lang_logos/<%= cat.logo_file %>" class="langimg">

    <div class="langtext">

    <h2 ><%= cat.name %></h2>

    </div>
</a>

</div>