<div class="lang_card">

<a href="/<%= langurl %>">

  <img src="/assets/<%= img_file %>" class="langimg">

    <div class="langtext">

    <h2 style="color: rgb(82, 82, 82) !important;"><%= lang_title %></h2>

    </div>
</a>

</div>