<a href="<%= ("/" + post.categories.first.url_name + "/" + post.urltext) %>" style="color: rgb(51, 51, 51) !important;">
<div class="rec_cards">
                	<img src="/assets/post_imgs/<%= post.imgurl %>" class="recimg">

                	<div class="rectext">

                		<p><b><%= post.categories.first.name %> -</b> <%= post.title %> </p>

                	</div>

</div>
</a>