<a href="<%= post.link %>" style="color: rgb(51, 51, 51) !important;">
<div class="rec_cards">
                	<img src="/assets/post_imgs/<%= post.imgurl %>" class="recimg">

                	<div class="rectext">

                    <!-- <p> -->
                    
                    <!-- <b><%= post.categories.first.name %> &#45;</b>  -->
                    
                    <p><%= post.title %></p>

                	</div>

</div>
</a>
