
<a href="<%= author.href %>">
  <img src="<%= author.imgurl %>">

  <h3><%= author.name %></h3>
</a>
<p><%= author.info %></p>

<!-- <p>Krešimir is passionate about building great applications while minimizing the artificial complexity that often creeps into projects. He has 10+ years of experience in building, optimizing, and delivering a "perfect" user experience. </p> -->

