
 //= require bootstrap-variables
 //= require bootstrap-generators
 //= require home
 //= require snippets
 //= require fonts
 //= require code
 //= require article_header
$main-bg:  #f2f2f2 ;

body
{
	background-color: $main-bg !important ;
	
	padding-top: 0px !important;


}

#banner
{
	position:absolute; 
	height:170px;//124px;
	background-image: url('/assets/backdrop.gif'); 
	//border: 10px solid;
	//border-bottom: white !important;
	width: 100%;
}

#banop
{
	position:absolute; 
	height:170px;
	width: 100%;
	background-color: rgba(0,0,0,0.53);

}


#main_logo
{
	position: absolute;
	margin-top: -120px;

	margin-left: 15px;
	height: 70px;

	a:hover{
		text-decoration: none !important;
	}
	h1{
		color: #e0e0e0 !important;  
		font-family: 'exo-light';
		 
	//	font-weight: 200 !important;
		letter-spacing:3px;
		// -webkit-font-smoothing: antialiased;

		span{
			//color: #b0b0b0;
		}

	}
}

@media (min-width: 501px)
{
	#main_logo
	{
	margin-left: 30px;
	h1{
	font-size: 70px;
	}
	}
}

@media (max-width: 500px)
{
	#main_logo
	{
	margin-left: 15px;
	h1{
	font-size: 60px;
	}
	}


	#nav_line
	{
		height: 0px !important;
	}

	#nav_line
	{
	    position : absolute !important ;
	}
}


@media (max-width: 300px)
{
	#main_logo
	{
	margin-left: 5px;
	h1{
	font-size: 40px;
	}
	}
}



@media (min-width: 992px)
{
.col-md-8
{
	width: 70% ;
}

.col-md-4
{

	width: 30% ;

}
}

.yield_container
{
	padding-top: 170px;
}


.navbar-moveable
{
	position: absolute;
	width: 100%;
	margin-top: 120px;

}

.navbar-collapse {
padding-left: 0px !important ;
}
.navbar-fixed-top
{
	margin-bottom: 100px;
	background-color: rgba(34,34,34,0.98) !important; //rgba(70,73,78,0.90) !important;//#46494E;

}

#nav_line
{
	background-color: rgba(34,34,34,1);//rgba(70,73,78,0.75);//#46494E;
	border: none !important;
	height: 50px !important;
	border: 1px solid;

	// -webkit-font-smoothing: antialiased; 

	 .navli 
	{

	//	border-left: 1px solid #555 !important;
	//	border-right: 1px solid #555 !important;
		border-radius: 6px;
		min-width: 140px;
		text-align: center;

		a
		{
			color: #fff  !important; //#d2d2d2 !important;

			//font-family: 'Open Sans',Helvetica,Arial,sans-serif;
			font-family: 'navheaddd', Helvetica, Arial, sans-serif;
			font-size: 17px;
			//font-weight: 700 !important;




		}

		a:hover
		{
			background-color: rgba(46,48,51,0.7); //#2e3033;
		}
	}

	.open
	{
		.dropdown-toggle{
			background-color: #2e3033 !important;

		}
	}

	
}

.navbar-collapse {
padding-right: 0px !important;
}


footer
{
	height: 100px;
	background-color: #222222; //#46494E;
	margin-top: 50px;
	padding-top: 25px;
	font-family: 'navheaddd';

	.footblock 
	{
		width: 70%;
		margin: auto;
		height: 50px;
		text-align: center;

		ul{

			text-align: center;
      left: 180px;
			margin: auto;
			float: left;
			display: inline;
			width: auto;
			height: 60px;
			position: relative;
			font-size: 16px;
			top : 10px;
			li{
				display: inline;
				margin-left: 20px;
				a{
					color: #fff !important ; //#888 !important;
				}
				
			}
		}



	}
}





.menu_dropdown
{
	position: absolute;
	min-width: 140px !important;
	width: 140px;
	background: none !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	border : none !important;
	

	li{
		background-color: rgb(34,34,34) !important; //#46494E !important;
		width: 138px !important;
		height: 50px;
			color: black !important;
			border-top: 1px solid #555 !important;
	}

	li:hover
	{
		background-color:  #2e3033 !important;
		cursor: pointer !important;
	}
	a{
		border : none !important;
		font-size: 30px;
		font-weight: 100 !important;
		top: 10px;
		position: relative;
	}

	
	

}

.searchbox
{
	width: 332px;
	margin-left: 30px;
	height: 36px;//44px;
	font-size: 17px;
	top: 7px;//3px;
	position: relative;
	border-radius: 5px;
	background-color: #fff ;//rgba(46,48,51,0.8); //#2e3033;
	border : none;
	color: white;

	transition: width 0.5s;
	-webkit-transition: width 0.5s; /* Safari */


}

.searchbox:focus
{
	width: 500px;
}

.search_results
{
	width: 500px; //312px;
	//height: 500px;
	padding: 2px;
	padding-top: 0px !important;
//	border : 1px solid;
//	position: absolute;
//	left: 55.5% ;
	top: 50px;

	background-color: #46494E;

	
	
	display: none;

	opacity: 1 !important;




	border-bottom-color: rgb(51, 51, 51);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(51, 51, 51);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(51, 51, 51);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(51, 51, 51);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-style: none;
	border-top-width: 0px;
	//box-shadow: rgba(0, 0, 0, 0.6) 2px 1px 3px 0px;
	box-shadow-left :5px; 

	border-top-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
		
}

.search_row
{

	height: 100px;
//	border : 1px solid;
	margin-top: 2px;//: 0px;
	//padding-top: 12px;
	//padding-bottom: 15px;
	background-color: white;
	padding-right: 10px;

	img{
				display: inline;


		width: 130px;
		margin-left: 10px;
		height: 80px;
		margin-top : 10px;
	}

	p{
				display: inline;
				width: 340px !important;
				font-weight: normal;
				font-size: 20px;
				position: absolute;
				width: 350px;
				margin-left: 10px;
				margin-top: 20px;
				color: rgb(51, 51, 51) !important;

				font-family:  'Open Sans', Helvetica, Arial, sans-serif;
		font-size: 20px;
		font-weight: 100;

	}





	border-bottom-color: rgb(51, 51, 51);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(51, 51, 51);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(51, 51, 51);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(51, 51, 51);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-style: none;
	border-top-width: 0px;
	box-shadow: rgba(0, 0, 0, 0.34902) 0px 1px 3px 0px;
}

	.search_row:hover
	{
		p{
			text-decoration: underline;
		}
		
	}


.ad-container{

	text-align: center;
	margin-bottom: 20px;
}


