
 //= require bootstrap-variables
 //= require bootstrap-generators
 //= require coderay

$main-bg: #f2f2f2 ;


body
{
	background-color: $main-bg !important ;
	padding-top: 0px !important;
}
.col-md-8
{
	width: 70% !important;
}

.col-md-4
{

	width: 30% !important;

}

.yield_container
{
	padding-top: 200px;
}


.navbar-moveable
{
	position: absolute;
	width: 100%;
	margin-top: 120px;

}

.navbar-collapse {
padding-left: 0px !important ;
}
.navbar-fixed-top
{
	margin-bottom: 100px;
}

#main_logo
{
	position: absolute;
	margin-top: -100px;
	height: 70px;
}
#nav_line
{
	background-color: #46494E;

	 .navli 
	{

		border-left: 1px solid #555 !important;
		border-right: 1px solid #555 !important;
		border-radius: 6px;
		min-width: 140px;
		text-align: center;

		a
		{
			color: white !important;
			font-family: 'Open Sans', Helvetica, Arial, sans-serif;
			font-size: 15px;
			font-weight: bold;



		}

		a:hover
		{
			background-color: #2e3033;
		}
	}

	.open
	{
		.dropdown-toggle{
			background-color: #2e3033 !important;

		}
	}


	
}

.navbar-collapse {
padding-right: 0px !important;
}

.searchbox
{
	width: 312px;
	height: 36px;//44px;
	font-size: 17px;
	top: 7px;//3px;
	position: relative;
	border-radius: 5px;
	background-color: #2e3033;
	border : none;
	color: white;
}
footer
{
	height: 100px;
	background-color: #46494E;
	margin-top: 50px;
}





.menu_dropdown
{
	position: absolute;
	min-width: 140px !important;
	width: 140px;
	background: none !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	border : none !important;
	

	li{
		background-color: #46494E !important;
		width: 138px !important;
		height: 50px;
			color: black !important;
			border-top: 1px solid #555 !important;
	}

	li:hover
	{
		background-color:  #2e3033 !important;
		cursor: pointer !important;
	}
	a{
		border : none !important;
		font-size: 30px;
		font-weight: 100 !important;
		top: 10px;
		position: relative;
	}

	
	

}