.app_border
{
	border-bottom-color: rgb(51, 51, 51);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(51, 51, 51);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(51, 51, 51);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(51, 51, 51);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-style: none;
	border-top-width: 0px;
	box-shadow: rgba(0, 0, 0, 0.34902) 0px 1px 3px 0px;

	border-radius: 0px !important;


}


.article_col
{
	
	@extend .app_border ;


  	background: #ffffff;

  	padding: 30px;
  	padding-bottom: 30px ;
  	padding-top: 5px !important ;

  	font-family:  'Open Sans', Helvetica, Arial, sans-serif;//'Gotham Rounded SSm A','Gotham Rounded SSm B',sans-serif;

  	font-weight: 100 !important;
  	font-size:18px;
  	color: rgb(38, 38, 38);
	line-height:26px;
	//padding-bottom: 30px;






}



.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}


@font-face {
font-family: 'blok-regular';
src: url('/fonts/SourceSansPro-Black.otf');
src: local('SourceSansPro-Light'), 
 local('SourceSansPro-Light'), 
 url('/fonts/SourceSansPro-Light.otf') format('truetype');
}

.article_title
{
  //  font-weight: 300 !important;
    ///-webkit-text-stroke: 1px;

    //   	 -webkit-font-smoothing: antialiased; 

line-height: 1.1;
font-family: 'blok-regular'; //'Gotham Rounded SSm A','Gotham Rounded SSm B',sans-serif;
//font-family: "TitilliumRegular", Arial, Helvetica, sans-serif;
font-size: 2.48em;

}




.recom
{
    padding-left: 10px;
    padding-right: 0px !important;
  //  margin-top: 80px;
  	
}

.trhead
{
	  	font-family:  'Open Sans', Helvetica, Arial, sans-serif;//'Gotham Rounded SSm A','Gotham Rounded SSm B',sans-serif;

	font-size: 20px;
	position: relative;	
	top: -25px;
	font-weight: 100px !important;
	text-align: center;
	margin-bottom: -10px;
}


.recwrapper
{

	//@extend .app_border;

//	border: 1px solid;
	//padding : 20px;
	padding-right: 0px; 
	padding-top: 0px;
}

.recimg
{
	height: 150px;
	width: 100%;
	@extend .app_border;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.rectext
{
	padding : 16px;


	p
	{
		//font-family:  'Open Sans', Helvetica, Arial, sans-serif;
		font-family: 'clear-sans';
		font-size: 18px;
		font-weight: 100;

		b{
			font-weight: 150;
		}


	}

	p:hover
	{
		cursor: pointer;
		text-decoration: underline;
	}
}

.rec_cards
{
	@extend .app_border ;
	background-color: #fff;
   min-height: 240px;
   margin-bottom: 10px;

   	 -webkit-font-smoothing: antialiased; 



}


.left_cont
{
	padding-left: 0px !important;
	padding-right: 0px  !important; 
}

.headimg
{
	height: 170px;
	width: 300px;
//	display: inline;
	float: left;
	margin-right: 25px;
	margin-bottom: 10px;


}

@font-face {
font-family: 'clear-sans';
src: url('/fonts/DroidSans/DroidSans.woff');
//src: local('Exo-Light'), local('Exo-Light'), url('/fonts/exo/Exo-ExtraLight.otf') format('truetype');
}


.article_overview
{
//	float: right;

//	font-style: italic;

	font-family: 'clear-sans';

	//font-weight: 50;
	color: #727272 ;//888;
	//letter-spacing: 1px;
	margin-top: 10px;
	//font-size: 25px;


}

.article_header
{
//	height: 170px;

		 -webkit-font-smoothing: antialiased; 

font-family: 'clear-sans';


	span{
		font-weight: 100;
		//background-color: #46494E; //#2e3033;
		color: #787378;//#464544;
		//@extend .app_border;
		padding: 5px;
		font-style: italic;
		text-decoration: underline;

	}
}

@font-face {
font-family: 'artcont';
src: url('/fonts/DroidSans/DroidSans.woff');
//src: local('Exo-Light'), local('Exo-Light'), url('/fonts/exo/Exo-ExtraLight.otf') format('truetype');
}

.article_content
{
	margin-top: 30px;

	//p,b{
	 -webkit-font-smoothing: antialiased; 
	//}

font-family: 'artcont' ;
font-weight: 200 !important;
color: rgb(70,70,70);

	.step{
		font-size: 25px;
		font-weight: normal;
		line-height: 30px;
		margin-top: 40px !important;
	}
	b{
		font-weight: 110;
	}
}

.article_arthor
{
	@extend .app_border ;
	background-color: white; 
	min-height: 150px;
	margin-top: 20px;
	width: 70%;
	padding-right: 20px;

		 -webkit-font-smoothing: antialiased; 


	img{

		height: 100px;
		width: 100px;
		position: relative;
		top: 25px;
		margin-left: 15px;
		@extend .app_border ;
	}

	h3
	{
		position: absolute;
		margin-top: -77px;
		margin-left: 140px;

		font-weight: 300;
		//line-height: 1.1;
		font-family: 'Gotham Rounded SSm A','Gotham Rounded SSm B',sans-serif;
		font-size: 1.7em;


	}
	p{

		margin-left: 140px;
		margin-top: -45px;
		font-style: italic;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

		font-size: 17.5px;
font-weight: 300;
line-height: 1.25;


	}
}

.spaced
{
	margin-top: 10px;
}

$length: 20px;

.arrow-up {
	width: 0; 
	height: 0; 
	position: absolute;
	border-color: white;
	border-left: $length solid transparent;
	border-right: $length solid transparent;
	
	border-bottom: $length solid white;

	margin-left: 40px;
}



#disqus_thread
{
	margin-top: 30px;
}

/*.emailicon{


 color: rgba(46,48,51,1) !important;

}*/


.lang_card
{
	@extend .app_border ;
	background-color: #fff;
   height: 70px;
   margin-top: 10px;
   //font-family: 'clear-sans';

      	 -webkit-font-smoothing: antialiased; 


   h2
   {
   		font-weight: normal !important;
   		font-size: 20px;

   }
   

   img{

   	height: 60px;
   	width: 60px;
   	top: 5px;
   	left: 15px;
   	position: relative;
   }

   .langtext
   {
 /*  	text-align: center;
   	position: relative;
   	top: -60px;
   	left: 30px;
   	font-size: 30px;
   	border : 1px solid;*/




  // 	border : 1px solid;

   	width: 200px;

   	position: relative;
   	left: 105px;
   	top: -55px;
   }


}

.left_cont .lang_card
{/*
	background: none !important;
	border : none !important;
	box-shadow: none   ;
	position: relative;
	margin-left: 200px; */

	//width: 320px;
	margin-bottom: 30px;
}

.topic_cont
{
//	@extend .app_border;
	//	padding-left: 10px !important;
	//padding-right: 10px !important;
	padding-bottom: 20px !important;
	padding-top: 10px !important;
}
 
.ror_css
{
	background-color: #9A324B !important;
	
	color: white;


}


.php_css{

	background-color: #5D689E ;
	color: white; 


}
.python_css{

//	background-color: #FEC83A ;
	color: #525252; 


}

@font-face {
font-family: 'thead';
src: url('/fonts/SourceSansPro-ExtraLight.otf');
//src: local('Exo-Light'), local('Exo-Light'), url('/fonts/exo/Exo-ExtraLight.otf') format('truetype');
}

.topic_head
{
	text-align: center;
	margin-bottom: 10px;
	margin-top: 0px;
	font-family: 'thead';
	//-webkit-font-smoothing: antialiased;
	//font-weight: 100;
	background-color: #fff;
	@extend .app_border;
	padding: 20px;
	font-size: 40px;


}

.topic_req
{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 0px;
	-webkit-font-smoothing: antialiased;
	font-weight: 200;
	//background-color: #fff;


	a{
	@extend .app_border;
	font-size: 20px !important;
	background-color: rgba(70,73,78,0.75);
	}

	a:hover{

		background-color: rgba(46,48,51,0.8);

	}
	padding: 20px;

}


@media (max-width: 500px)
{
	.article_col
	{
		padding: 25px ;
	}

	.headimg
	{
		margin-right: 0px;
	}




}

@media (max-width: 991px)
{

	.recwrapper
	{
		margin-left: -30px !important;

	}

	.article_arthor{
		width: 100% !important;
		//float: left;
		img{
			float: left;
		}

		p{
			margin-left: 0px !important;
			position: relative;
			padding: 10px;
		}
	}

}



.fbcard
{
  height: auto !important;
  text-align: center;
  background-color: white !important ;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fb-like-box
{
	margin-bottom: 10px;

}


.emailcard
{
  @extend .app_border ;
  background-color: rgba(70,73,78,0.75);//#46494E;//background-color: #fff;
   height: 60px;
   margin-bottom: 40px;
   padding-left: 10px;
   padding-right: 10px;
   margin-top: 10px;
 	
}

.emailbox
{
  width: 85%;
  height: 40px;//44px;
  font-size: 17px;
  position: relative;
  top: 10px;
  border-radius: 5px;
  background-color: rgba(46,48,51,1); //#2e3033;
  border : none;

  color: white;


  transition: width 0.5s;
  -webkit-transition: width 0.5s; /* Safari */


}

.subsbut
{
  //position: absolute;
  width: 13%;
  height: 40px;
  margin-right: 3%;
  margin-top : -34px;
  background: none  !important;
  border: none !important;
    span{
      font-size: 2em;
    }
  

}

@font-face {
font-family: 'dhead';
src: url('/fonts/SourceSansPro-ExtraLight.otf');
//src: local('Exo-Light'), local('Exo-Light'), url('/fonts/exo/Exo-ExtraLight.otf') format('truetype');
}

.datehead
{
 font-weight: 600;
 //font-style: italic;
 -webkit-font-smoothing: antialiased;
 font-family: 'dhead';
//font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
color: #4D4F54; //c2c2c2

}
